.index-wrap{
  width: 100%;
  .btn-wrap{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
}
.calendar-wrap {
  width: calc(100% - 20px);
  margin: 0 10px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  background: #CCCC99;
  padding: 10px;

  li {
    width: 13%;
    margin: 10px 0;
    padding: 10px 0;
    font-weight: bold;
    font-size: 18px;
  }

  .title {
    padding: 8px 12px;
    background: #CC99CC;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
  }

  .current {
    color: #fff;
  }

  .prev,
  .next {
    color: rgb(168, 155, 155);
  }

  .today {
    background: rgb(238, 216, 157);
    border-radius: 8px;
  }

  .active {
    background: rgb(141, 138, 130);
    border-radius: 8px;
    color: #fff;
  }
}

.month-title {
  margin: 10px 0;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}